{% extends "based.html" %}

{% block body %}

<body>
    <div>
        <h3>
            Courses
        </h3>
        <table>
            <tr>
                <th>

                </th>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
            </tr>
            {% for i in courses %}
            <tr>
                <td>
                    <button style="color:red;" onclick="delete_post('{{i.id}}')">
                        Delete
                    </button>
                    <button onclick="set_edit('{{i.id}}', '{{i.title}}')">
                        Edit
                    </button>
                </td>
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>

{% endblock %}

{%block input%}
<form method="POST">
    <h3>
        New course
    </h3>
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="credits">Credits</label>
    <input type="number" id="credits" name="credits">
    <input type="submit">
</form>
{%endblock%}

{%block edit%}
<form method="PUT" onsubmit="return edit()" id="editor">
    <h3 id="edit_header">
        Edit course
    </h3>
    <input value="" id="edit_id" name="id" style="display:none;" type="number">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="credits">Credits</label>
    <input type="number" id="credits" name="credits">
    <input type="submit" id="submit">
</form>
{%endblock%}