{% extends "based.html" %}

{% block body %}

<body>
    <div>
        <h3>
            Students
        </h3>
        <table>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Enrollment Date
                </th>
            </tr>
            {% for i in students %}
            <tr>
                <td>{{i.first_name}}</td>
                <td>{{i.enrollment_date}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>

{% endblock %}

{%block input%}
<form method="POST">
    <h3>
        New student
    </h3>
    <label for="first_name">First name</label>
    <input type="text" id="first_name" name="first_name">
    <label for="last_name">Last name</label>
    <input type="text" id="last_name" name="last_name">
    <label for="enrollment_date">Enrollment date</label>
    <input type="date" id="enrollment_date" name="enrollment_date">
    <input type="submit">
</form>
{%endblock%}